<!DOCTYPE html>
<html>
<head>
    
    <title>Random Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Random Article</h1>
        <h2>{{ headline.headline }}</h2>
        <form action="/guess" method="post">
            <label for="date">Select a date:</label>
            <input type="date" id="date" name="date" required>
            <br>
            <input type="hidden" id="headline" name="headline" value="{{ headline.headline }}">
            <input type="hidden" id="actual_date" name="actual_date" value="{{ headline.date }}">
            <input type="hidden" id="link" name="link" value="{{ headline.link }}">
            <input type="hidden" id="link" name="link" value="{{ headline.highscore }}">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<footer>
    <p>data sourced from <a href="https://www.kaggle.com/datasets/rmisra/news-category-dataset" target="_blank" rel="noopener noreferrer">kaggle</a></p>
</footer>
</html>
